apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 1m
  chart:
    spec:
      chart: ingress-nginx
      version: "4.9.0"
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: ingress-nginx
  values:
    controller:
      # Adjust replica count as needed
      replicaCount: 1
      # Use NodePort for bare-metal clusters, LoadBalancer for cloud
      service:
        # type: LoadBalancer
        # For bare-metal, uncomment below and comment out LoadBalancer
        type: NodePort
        nodePorts:
          http: 30080
          https: 30443
      # Enable metrics for monitoring (optional)
      metrics:
        enabled: false
      # Ingress class settings
      ingressClassResource:
        name: nginx
        enabled: true
        default: true
